Source: janus-admin
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 10),
Homepage: https://www.sipwise.com/

Package: ngcp-janus-admin
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: JanusAdmin is a node.js http client, that implements the
  entire admin interface of the Janus Web RTC Gateway
